<form #f="ngForm" (ngSubmit)="onRegister()">

	<div class="message">
		<p>{{message}}</p>
	</div>



	<div class="form-group">
		<md-input-container class="full-width">
			<input mdInput type="text" name="firstName" placeholder="First Name" [(ngModel)]="user.firstName"/>
		</md-input-container>
	</div>


	<div class="form-group">
		<md-input-container class="full-width">
			<input mdInput type="text" name="LastName" placeholder="Last Name" [(ngModel)]="user.lastName"/>
		</md-input-container>
	</div>

	<div class="form-group form-avatar-control">
		<label>Your profile Image: </label>
		<avatar (onFileSelect)="onSelectProfileImage($event)"></avatar>
	</div>


	<div class="form-group">
		<md-input-container class="full-width">
			<input mdInput type="email" name="email" placeholder="Email" [(ngModel)]="user.email"/>
		</md-input-container>
	</div>

	<div class="form-group">
		<md-input-container class="full-width">
			<input mdInput type="password" name="password" placeholder="Password" [(ngModel)]="user.password"/>
		</md-input-container>
	</div>

	<div class="form-group">
		<button md-raised-button type="submit">Register</button>
	</div>
</form>