<div class="new-tweet">
	<form #f="ngForm" (ngSubmit)="createTweet()">
		<p *ngIf="errorMesage" class="message error">{{errorMesage}}</p>
		<md-input-container class="full-width">
			<textarea name="message" mdInput placeholder="What's happening?" [(ngModel)]="newTweet.message"></textarea>
		</md-input-container>
		<button md-raised-button type="submit" [disabled]="submitted"><span *ngIf="!submitted">Send</span><span *ngIf="submitted">Please wait...</span>
		</button>
	</form>
</div>


<div class="tweets">
	<div class="tweet-item" *ngFor="let tweet of tweets|async">
		<img *ngIf="tweet.user"  class="avatar" [src]="tweet.user.photoURL ? tweet.user.photoURL : 'https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&f=y'" alt="{{tweet.user.displayName}}">
		<img *ngIf="!tweet.user"  class="avatar" [src]="'https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&f=y'" />
		<div class="tweet-message">
			<h4> {{ tweet.user ? tweet.user.displayName : "Everyone"}}</h4>
			<p>
				{{tweet.message}}
			</p>
		</div>


	</div>
</div>


