<md-sidenav-container class="app-primary">

	<md-sidenav #sidenav mode="side" class="app-sidenav">
		Menu Sidebar
	</md-sidenav>

	<md-toolbar color="primary">
		<button md-button class="app-icon-button" (click)="sidenav.toggle()">
			<i class="material-icons app-toolbar-menu">menu</i>
		</button>

		My App

		<span class="app-toolbar-filler"></span>
		<button md-button class="user-action-button login" (click)="login()" *ngIf="!userId">Login</button>
		<div class="user-profile" *ngIf="userId">
			<span class="profile-image">
				<img [src]="authProfile.photoURL" alt="Profile image" />
				<button md-button class="user-action-button logout" (click)="logout()" *ngIf="userId">Sign Out</button>
			</span>
		</div>

	</md-toolbar>

	<div class="app-content">

		<tweets [sortBy]="'created'"></tweets>

	</div>

</md-sidenav-container>
